<div class="modal invisible">
    <div class="modal__content">
        <button class="button button_cross" type="button" id="modal-close">
            <img src="../../assets/images/icons/Cross.svg" alt="">
        </button>
        <div class="signup">
            <form action="/" class="form form_modal" method="post">
                <div class="form__group form__group_280w">
                    <input type="text" class="form__control form__control_mt25" placeholder="Ваш e-mail" value="Канев Даниил">
                    <input type="email" class="form__control form__control_mt25" placeholder="Ваш e-mail">
                    <textarea type="text" class="form__control form__control_mt25 form__control-textarea" placeholder="Текст сообщения"></textarea>
                </div>
            
                <button class="button button_rounded button_mt25 button_w-auto">Отправить</button>
            </form>
        
            <div class="actions actions_signup modal__contact">
                <a href="mailto:cap-shveps@yandex.ru" class="actions__link_gray-link">e-mail: cap-shveps@yandex.ru</a>
                <a href="tel:+799999999" class="actions__link_gray-link">тел: +7-999-999-99</a>
            </div>
        </div>
    </div>
</div>