<article class="post">

    <div class="post__content">
        <h2 class="post__title hidden">Без заголовока</h2> <!-- У тега article обязательно должен быть заголовок, если его нет, он должен быть скрыт -->
        <p class="text text__post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
        </p>
    </div>

    <div class="post__footer">
        <div class="actions">
            <ul class="actions__data">
                <li>
                    <time datetime="2020-06-21 11:01" class="date date_post">21.06.2020</time>
                </li>
            </ul>
        </div>
    </div>
</article>

<article class="post">

    <div class="post__header">
        <a href="#">
            <img src="https://s.zagranitsa.com/images/articles/6729/870x486/53d189dfcd54fa9ecae756ddf5a7c2ee.jpg?1530714543" alt="Горы" class="post__img">
        </a>
    </div>

    <div class="post__content">
        <h2 class="post__title">
            <a href="#">
                Как писать код быстро и безболезненно?
            </a>
        </h2>
        <p class="text text__post mt15">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
        </p>
    </div>

    <div class="post__footer">
        <div class="actions">
            <ul class="actions__data">
                <li>
                    <time datetime="2020-06-21 11:01" class="date date_post">21.06.2020</time>
                </li>
                <li class="actions__categories_gray">
                    <a href="#">создание сайтов</a>
                </li>
            </ul>
            <ul class="actions__list">
                <li class="actions__link">
                    <a class="actions__link_blue-link" href="#">читать</a>
                </li>
            </ul>
        </div>
    </div>
</article>

<article class="post">

    <div class="post__header">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p4zbV1MBJNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="post__content">
        <h2 class="post__title">
            <a href="#">
                Верстка сайта HTML, GULP, SASS | Персональный блог #5
            </a>
        </h2>
    </div>

    <div class="post__footer">
        <div class="actions">
            <ul class="actions__data">
                <li>
                    <time datetime="2020-06-21 09:41" class="date date_post">21.06.2020</time>
                </li>
                <li class="actions__categories_gray">
                    <a href="#">продвижение видео</a>
                </li>
            </ul>
            <ul class="actions__list">
                <li class="actions__link">
                    <a class="actions__link_blue-link" href="#">оставить комментарий</a>
                </li>
            </ul>
        </div>
    </div>
</article>

<article class="post">

    <div class="post__header">
        <a href="#">
            <img src="https://s1.1zoom.ru/b4865/248/Dogs_Black_Tongue_Amstaff_541993_1920x1080.jpg" alt="Пес" class="post__img">
        </a>
    </div>

    <div class="post__content">
        <h2 class="post__title">
            <a href="#">
                Американский Стаффордширский терьер
            </a>
        </h2>
        <p class="text text__post mt15">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.
        </p>
    </div>

    <div class="post__footer">
        <div class="actions">
            <ul class="actions__data">
                <li>
                    <time datetime="2020-06-21 11:01" class="date date_post">21.06.2020</time>
                </li>
                <li class="actions__categories_gray">
                    <a href="#">животные</a>
                </li>
            </ul>
            <ul class="actions__list">
                <li class="actions__link">
                    <a class="actions__link_blue-link" href="postpage.html">читать</a>
                </li>
            </ul>
        </div>
    </div>
</article>