<div class="modal invisible">
    <div class="modal__content modal__content_share">
        <button class="button button_cross-share" type="button" id="modal-close-share">
            <img src="../../assets/images/icons/Cross.svg" alt="">
        </button>

        <ul class="social social_share">

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="../../assets/images/icons/facebook-modal.svg" alt="instagram" class="social__icon">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="../../assets/images/icons/twitter-modal.svg" alt="pinterest" class="social__icon">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="../../assets/images/icons/vk-modal.svg" alt="vk" class="social__icon">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="../../assets/images/icons/copy-modal.svg" alt="copy" class="social__icon">
                </a>
            </li>

        </ul>
    </div>
</div>