.search {
    width: 21.2rem;
    height: 4rem;

    background-color: $first-bg-color;
    border: none;
    padding: 0 2rem;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;

    color: $second-text-color;
}