.social {
    margin-top: 18px;
    width: 105px;

    display: flex;
    justify-content: space-between;

    &_share {
        margin-top: 0;
        width: auto;
    }

    &__link {
        display: block;
        transition: $global-transition;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}