.subnav {
    display: none;
    position: absolute;

    width: 16.5rem;
    background-color: $header-color;
    border-radius: 0 0 5px 5px;

    &__item {
        border-radius: 0;
        transition: $global-transition;
        &:hover {
            background-color: $second-element-color;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
        }
    }

    &__link {
        display: block;
        padding: 0.8rem 1.2rem;

        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-decoration: none;
        color: $main-text-color;
    }
}