.tags {
    display: flex;
    justify-content: start;
    margin-top: 22px;
    margin-bottom: 30px;

    flex-wrap: wrap; //перенос элементов флекс, на след. строку

    &__item {
        height: 21px;
        border-radius: 3px;
        padding: 4px 9px;

        margin-top: 8px;
        margin-right: 8px;

        background-color: $first-element-color;

        font-family: 'Roboto';
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: $main-text-color;

        text-align: center;
    }
}